# SO_Laboratory Activity 2

# PROBLEM 1

1, In an empty cell, decalre a variable value and assign it the value of 5 then display its value using print()

In [23]:
value = 5
print (value)

5

# PROBLEM 2

2. Create a new cell and type the command: type (value) then run the cell. The output should be like the image below.

In [24]:
type(value)

int

# PROBLEM 3

3. In a new cell, use the same variable value and assign it the value of 5.0 then print the value.

In [25]:
value = 5.0
print (value)

5.0

# PROBLEM 4

4. Repeat step 2.

In [26]:
type (value)

float

# PROBLEM 5

5. Repeat these steps for the following values:

a. 2 + 3j

In [29]:
value = 2 + 3j
print (value)

(2+3j)

In [30]:
type (value)

complex

b. 'Hello World

In [31]:
value = 'Hello World'
print (value)

Hello World

In [32]:
type (value)

str

c. "Hello World"

In [33]:
value = "Hello World"
print (value)

Hello World

In [34]:
type (value)

str

d. True

In [35]:
value = True
print (value)

True

In [36]:
type (value)

bool

e. False

In [39]:
value = False
print (value)

False

In [40]:
type (value)

bool

f. [1,2,3,4,5]

In [41]:
value = [1,2,3,4,5]
print (value)

[1, 2, 3, 4, 5]

In [42]:
type (value)

list

g. {1,2,3,4,5}

In [43]:
value = {1,2,3,4,5}
print (value)

{1, 2, 3, 4, 5}

In [44]:
type (value)

set

h. {'name': 'Your_name'}

In [45]:
value = {'name': 'Your_name'}
print (value)

{'name': 'Your_name'}

In [46]:
type (value)

dict

i. None

In [47]:
value = None
print (value)

None

In [81]:
type (value)

int

# PROBLEM 6

6. Re-assign the value variable to be equal to 5.

In [82]:
value = 5

# PROBLEM 7

7. Declare a new variable named value2 to be equal to -6.

In [50]:
value2 = -6

# Performing Operations with Python

# PROBLEM 1

1. Using value and value2. Type the command: print(value+value2)

In [51]:
print (value + value2)

-1

# PROBLEM 2

2. Repeat step 1 for the following values of value and value2:

a. value, value2 = 5.0,6

In [52]:
value, value2 = 5.0,6
print (value + value2)

11.0

b. value, value2 = -5,6.1

In [53]:
value, value2 = -5,6.1
print (value + value2)

1.0999999999999996

c. value, value2 = "Hello", "World"

In [54]:
value, value2 = "Hello", "World"
print (value + value2)

HelloWorld

d. value, value2 = [1,2,3], [4,5,6]

In [55]:
value, value2 = [1,2,3], [4,5,6]
print (value + value2)

[1, 2, 3, 4, 5, 6]

e. value, value2 = (1,2,3), (4,5,6)

In [56]:
value, value2 = (1,2,3), (4,5,6)
print (value + value2)

(1, 2, 3, 4, 5, 6)

f. value, value2 = {"name": "Royce"}, {"age":2}

In [83]:
value, value2 = {"name":"Royce"}, {"age":2}
print (value + value2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

# SUBTRACTION

In [64]:
value, value2 = 5.0,6
print (value - value2)

-1.0

In [68]:
value, value2 = -5,6.1
print (value - value2)

-11.1

In [67]:
value, value2 = "Hello", "World"
print (value - value2)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [70]:
value, value2 = [1,2,3], [4,5,6]
print (value - value2)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [71]:
value, value2 = (1,2,3), (4,5,6)
print (value - value2)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [72]:
value, value2 = {"name":"Royce"}, {"age":2}
print (value - value2)

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

# PROBLEM 3

3. Using value, value2 = 30, 4. Type the commands:

In [73]:
value, value2 = 30, 4

a. print(value*value2)
b. print(value2**2)
c. print(value2**3)
d. print(value*value2+value2**2+1)
e. print(value/value2)
f. print(value%value2)

In [74]:
print(value*value2)
print(value2**2)
print(value2**3)
print(value*value2+value2**2+1)
print(value/value2)
print(value%value2)

120
16
64
137
7.5
2

Assigning Input Data to a Variable

Finding a personâ€™s BMI (metric)

In [78]:
name = input("Enter your name: ")
weight = float(input("Enter your weight (kg): "))
height = float(input("Enter your height (m): "))
bmi = weight / height**2

Enter your name: tyrone
Enter your weight (kg): 53.54
Enter your height (m): 12.3

In [79]:
print ("Name: ",name)
print ("Weight: ",weight)
print ("Height: ",height)
print ("BMI: ",bmi)

Name:  tyrone
Weight:  53.54
Height:  12.3
BMI:  0.3538898803622182